trunk/org.mwc.debrief.core/schema/debrief-gpx-extensions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="org.mwc.debrief.core"
	elementFormDefault="qualified" xmlns="org.mwc.debrief.core">

	<xs:annotation>
		<xs:documentation>
			This schema defines the Debrief extensions to be used with the GPX 1.1 schema.
			The root elements
			defined by this schema are intended to be used as child
			elements of the "extensions" elements in the GPX 1.1 schema.
		</xs:documentation>
	</xs:annotation>

	<xs:element name="trackExtension" type="trackExtensionType" />
	<xs:element name="fixExtension" type="fixExtensionType" />
	<xs:element name="plot" type="plotType" />

	<xs:complexType name="plotType">
		<xs:all>
			<xs:element minOccurs="1" name="session" type="sessionType" />
			<xs:element minOccurs="0" name="details" type="detailsType" />
		</xs:all>
		<xs:attribute name="Created" use="required" type="xs:string" />
		<xs:attribute name="Name" use="required" type="xs:string" />
		<xs:attribute name="PlotId" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="detailsType">
		<xs:attribute name="Text" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="sessionType">
		<xs:all>
			<xs:element name="layers" type="layersType" />
			<xs:element minOccurs="0" name="projection" type="projectionType" />
			<xs:element minOccurs="0" name="gui" type="guiType" />
		</xs:all>
	</xs:complexType>
	<xs:complexType name="guiType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="tote" type="toteType" />
			<xs:element minOccurs="0" maxOccurs="unbounded" name="component" type="componentType" />
			<xs:element minOccurs="0" name="Background">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="colour" type="colourType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="componentType">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="property">
				<xs:complexType>
					<xs:attribute name="Name" use="required" type="xs:string" />
					<xs:attribute name="Value" use="required" type="xs:string" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Type" use="required" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="toteType">
		<xs:sequence>
			<xs:element minOccurs="0" name="primary">
				<xs:complexType>
					<xs:attribute name="Name" use="required" type="xs:string" />
				</xs:complexType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="secondary">
				<xs:complexType>
					<xs:attribute name="Name" use="required" type="xs:string" />
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="projectionType">
		<xs:sequence>
			<xs:element name="tl" type="locationType" />
			<xs:element name="br" type="locationType" />
		</xs:sequence>
		<xs:attribute name="Border" type="xs:double" default="1.0" />
		<xs:attribute name="PrimaryOrigin" default="false" type="xs:boolean" />
		<xs:attribute name="PrimaryOriented" default="false" type="xs:boolean" />
		<xs:attribute name="Relative" default="false" type="xs:boolean" />
		<xs:attribute name="Type" use="required" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="layersType">
		<xs:sequence>
			<xs:element name="layer" type="layerType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="layerType">
		<xs:sequence>
			<xs:element name="textlabel" type="textlabelType" />
			<xs:element name="line" type="lineType" />
			<xs:element name="rectangle" type="rectangleType" />
		</xs:sequence>
		<xs:attribute name="LineThickness" default="1" type="xs:integer" />
		<xs:attribute name="Name" use="required" type="xs:string" />
		<xs:attribute name="Visible" default="true" type="xs:boolean" />
	</xs:complexType>
	<xs:complexType name="rectangleType">
		<xs:complexContent>
			<xs:extension base="shapeType">
				<xs:sequence>
					<xs:element name="tl" type="locationType" />
					<xs:element name="br" type="locationType" />
				</xs:sequence>
				<xs:attribute name="Filled" type="xs:boolean" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="lineType">
		<xs:complexContent>
			<xs:extension base="shapeType">
				<xs:sequence>
					<xs:element name="tl" type="locationType" />
					<xs:element name="br" type="locationType" />
				</xs:sequence>
				<xs:attribute name="ArrowAtEnd" type="xs:boolean" use="optional">
					<xs:annotation>
						<xs:documentation>Whether to draw an arrow at the end of the line
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="locationType">
		<xs:choice maxOccurs="1" minOccurs="0">
			<xs:element name="shortLocation">
				<xs:complexType>
					<xs:attribute name="Depth" use="required" type="xs:double" />
					<xs:attribute name="Lat" use="required" type="xs:double" />
					<xs:attribute name="Long" use="required" type="xs:double" />
				</xs:complexType>
			</xs:element>
			<xs:element name="longLocation">
				<xs:complexType>
					<xs:attribute name="LatDeg" use="required" type="xs:integer" />
					<xs:attribute name="LatMin" use="required" type="xs:double" />
					<xs:attribute name="LatSec" use="required" type="xs:double" />
					<xs:attribute name="LatHem" use="required" type="xs:double" />
					<xs:attribute name="LongDeg" use="required" type="xs:integer" />
					<xs:attribute name="LongMin" use="required" type="xs:double" />
					<xs:attribute name="LongSec" use="required" type="xs:double" />
					<xs:attribute name="LongHem" use="required" type="xs:double" />
					<xs:attribute name="Depth" use="required" type="xs:double" />
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="shapeType" abstract="true">
		<xs:sequence>
			<xs:element minOccurs="0" name="colour" type="colourType" />
			<xs:element minOccurs="0" name="fontcolour" type="colourType" />
			<xs:element minOccurs="0" name="timeRange" type="timeRangeType" />
			<xs:element minOccurs="0" name="font" type="fontType" />
		</xs:sequence>
		<xs:attribute name="Label" type="xs:string" />
		<xs:attribute name="LabelLocation" type="labelLocationType" />
		<xs:attribute name="LabelVisible" type="xs:boolean" />
		<xs:attribute name="LineStyle" type="xs:integer" />
		<xs:attribute name="LineThickness" type="xs:integer" />
		<xs:attribute name="Visible" type="xs:boolean" />
	</xs:complexType>
	<xs:complexType name="timeRangeType">
		<xs:attribute name="End" use="required" type="xs:string" />
		<xs:attribute name="Start" use="required" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="fontType">
		<xs:attribute name="Bold" type="xs:boolean" />
		<xs:attribute name="Family" use="required" type="xs:string" />
		<xs:attribute name="Italic" type="xs:boolean" />
		<xs:attribute name="Size" use="required" type="xs:integer" />
	</xs:complexType>
	<xs:complexType name="colourType">
		<xs:attribute name="CustomBlue" type="colourElementType" />
		<xs:attribute name="CustomGreen" type="colourElementType" />
		<xs:attribute name="CustomRed" type="colourElementType" />
		<xs:attribute name="Value" use="required" type="xs:string" />
	</xs:complexType>
	<xs:simpleType name="colourElementType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0" />
			<xs:maxInclusive value="255" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="textlabelType">
		<xs:all>
			<xs:element minOccurs="0" name="font" type="fontType" />
			<xs:element minOccurs="0" name="colour" type="colourType" />
			<xs:element minOccurs="0" name="centre" type="locationType" />
			<xs:element minOccurs="0" name="timeRange" type="timeRangeType" />
		</xs:all>
		<xs:attribute name="Label" type="xs:string" />
		<xs:attribute name="LabelLocation" type="labelLocationType" />
		<xs:attribute name="LabelVisible" default="false" type="xs:boolean" />
		<xs:attribute name="Scale" type="xs:string" />
		<xs:attribute name="Symbol" type="xs:string" />
		<xs:attribute name="SymbolVisible" default="false" type="xs:boolean" />
		<xs:attribute name="Visible" default="false" type="xs:boolean" />
	</xs:complexType>
	<xs:complexType name="trackExtensionType">
		<xs:attribute name="InterpolatePoints" default="true" type="xs:boolean" />
		<xs:attribute name="LineThickness" default="1" type="xs:integer" />
		<xs:attribute name="LineStyle" default="1" type="xs:integer" />
		<xs:attribute name="LinkPositions" default="true" type="xs:boolean" />
		<xs:attribute name="NameAtStart" default="true" type="xs:boolean" />
		<xs:attribute name="NameLocation" default="Right" type="xs:string" />
		<xs:attribute name="NameVisible" default="true" type="xs:boolean" />
		<xs:attribute name="PlotArrayCentre" default="true" type="xs:boolean" />
		<xs:attribute name="PositionsLinked" default="true" type="xs:boolean" />
		<xs:attribute name="PositionsVisible" default="true" type="xs:boolean" />
		<xs:attribute name="SensorsVisible" default="true" type="xs:boolean" />
		<xs:attribute name="SolutionsVisible" default="true" type="xs:boolean" />
		<xs:attribute name="Symbol" default="SQUARE" type="xs:string" />
		<xs:attribute name="Visible" default="true" type="xs:boolean" />
	</xs:complexType>
	<xs:complexType name="fixExtensionType">
		<xs:attribute name="Course" use="required" type="xs:string" />
		<xs:attribute name="Label" use="required" type="xs:string" />
		<xs:attribute name="LabelLocation" default="Left" type="labelLocationType" />
		<xs:attribute name="LabelShowing" default="true" type="xs:boolean" />
		<xs:attribute name="Speed" use="required" type="xs:string" />
		<xs:attribute name="SymbolShowing" default="true" type="xs:boolean" />
		<xs:attribute name="ArrowShowing" default="false" type="xs:boolean" />
		<xs:attribute name="LineShowing" default="true" type="xs:boolean" />
		<xs:attribute name="Visible" default="true" type="xs:boolean" />
	</xs:complexType>
	<xs:simpleType name="labelLocationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Top" />
			<xs:enumeration value="Left" />
			<xs:enumeration value="Bottom" />
			<xs:enumeration value="Centre" />
			<xs:enumeration value="Right" />
			<xs:enumeration value="Middle" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>